name: OpenWrt for Mediatek_mt7988a_bpi-r4 and release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  REMOTE_REPOSITORY: Yukariin/openwrt
  REMOTE_BRANCH: bpir4
  CONFIG_FILE: bpi-r4.config
  RELEASE_PREFIX: Mediatek_mt7988a_bpi-r4

jobs:  
  build:
    name: Build OpenWrt
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt full-upgrade -y
          sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget
      
      - name: Checkout remote repository
        uses: actions/checkout@v4
        with:
          repository: ${{ env.REMOTE_REPOSITORY }}
          ref: ${{ env.REMOTE_BRANCH }}

      - name: Checkout current repository
        uses: actions/checkout@v4
        with:
          path: "current_repo"

      - name: Update and install feeds
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Configure firmware image
        run: |
          mv current_repo/${{ env.CONFIG_FILE }} .config
          make defconfig

      - name: Try to fetch dependencies cache
        uses: actions/cache/restore@v4
        with:
          path: dl
          key: dl-${{ runner.os }}-${{ github.run_id }}
          restore-keys: dl-${{ runner.os }}

      - name: Download dependencies
        run: make -j$(($(nproc)+1)) download

      - name: Update dependencies cache every run
        uses: actions/cache/save@v4
        with:
          path: dl
          key: dl-${{ runner.os }}-${{ github.run_id }}

      - name: Try to fetch host packages and toolchain cache
        uses: actions/cache/restore@v4
        with:
          path: |
            staging_dir/host
            staging_dir/hostpkg
            staging_dir/toolchain-aarch64_cortex-a53_gcc-14.2.0_musl
          key: toolchain-${{ runner.os }}-${{ github.run_id }}
          restore-keys: toolchain-${{ runner.os }}

      - name: Build the firmware image
        run: make -j$(($(nproc)+1)) world

      - name: Update host packages and toolchain cache
        uses: actions/cache/save@v4
        with:
          path: |
            staging_dir/host
            staging_dir/hostpkg
            staging_dir/toolchain-aarch64_cortex-a53_gcc-14.2.0_musl
          key: toolchain-${{ runner.os }}-${{ github.run_id }}
      
      - name: Package output
        run: tar -cvf bpi_r4-images.tar bin/targets/mediatek/filogic

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bpi_r4-images
          path: bpi_r4-images.tar

  release:
    name: Create release
    needs: [build]
    if: needs.build.result == 'success'
    runs-on: ubuntu-24.04
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: bpi_r4-images
      
      - name: Extract artifacts
        run: tar xf bpi_r4-images.tar
      
      - name: Get current date
        run: |
          echo "RELEASE_DATE=$(date +%F)" >> $GITHUB_ENV
          echo -n "BUILD_VER_STR=$( cat bin/targets/mediatek/filogic/profiles.json | jq -r '.profiles.[].image_prefix' | sed -E 's/o//g' )" >> $GITHUB_ENV
      
      - name: Create release
        uses: softprops/action-gh-release@master
        with:
          files: bin/targets/mediatek/filogic/*
          tag_name: ${{ env.RELEASE_PREFIX }}-${{ env.BUILD_VER_STR }}
          name: Openwrt BPI-r4 ${{ env.BUILD_VER_STR }}
          body: |
            Uploaded on: ${{ env.RELEASE_DATE }}
            Build Commit: ${{ needs.check_commits.outputs.latest_commit_sha }}
      
      - name: Clean up old releases
        uses: dev-drprasad/delete-older-releases@master
        with:
          keep_latest: 5
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
